/.streamlit
.streamlit/
/.env
.env/
/google.json
google.json
/data
data/
/notebooks/speeches.csv
notebooks/speeches.csv/
__pycache__/
/__pycache__
*.pyc
notebooks/recoded.csv
notebooks/speeches_1.csv
wagon-388210-1bf8175c3972.json
